/*
body {
  background-image: url("beach.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.first {
  margin-left: 250px;
  margin-top: 250px;
  height: 1000px;
  width: 1000px;
}
div {
  margin-left: 25px;
  margin-top: 25px;
  height: 1000px;
  width: 1000px;
}

.text {
  height: 450px;
  width: 450px;
}

h1 {
  display: block;
  color: black;
  font-size: 52px;
}
h2 {
  display: block;
  color: black;
  font-size: 52px;
  text-align: center;
}
p {
  display: block;
  font-size: 24px;
  background: ;
}
#michael {
  background: yellow;
  font-style: italic;
}
#telmo {
  background: lime;
}
a {
  display: inline;
  font-size: 24px;
}

.Background {
  background-image: url("beach.jpg");
  height: 500px;
  width: 50%;
}
*/
div{
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
}
h2{
  display: block;
  font-size: 48px;
  text-align: center;
}

.tour{
  width:350px;
}

.button{
  float: left;
  width: 50%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: red;
  margin-bottom: 0;
  padding-bottom: 0;
}
.background1{
  repeat: no repeat;
  background-size: cover;
  width: 350px;
  height: 200px;
  background-image: url("london.jpg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  border: 2px solid grey;
  position: relative;
}
.background2{
  repeat: no repeat;
  background-size: cover;
  width: 350px;
  height: 200px;
  background-image: url("vienna.jpg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  border: 2px solid grey;
  position: relative;
}
.background3{
  repeat: no repeat;
  background-size: cover;
  width: 350px;
  height: 200px;
  background-image: url("portugal.jpg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  border: 2px solid grey;
  position: relative;
}
.description{
  width: 350px;
  height:150px;
  border: 2px solid grey;
  padding-top: 0;
}
.review{
  background-color: silver;
  float: left;
  padding: 2px;
  border: 2px solid grey;
  position: relative;
}

.tourPrice{
 float: center;
 height: 24px;
 width: 24px;
 text-align: center;
 font-size: 32px;
 font-weight: bold;
 margin: 0 auto;
 border-color: transparent;
 display: inline-block;
 position: absolute;
 right:60px;
 top:20px;
 }

.fas{
  color:red;
  display:inline-block;
}
.far{
  color:red;
}
